<h1 class="text-center mt-3" style="color: #5353b9;">Your booking</h1>
<div class="container mt-5">
    <% if @booking.confirmed %>
        <h4>Your booking has been confirmed, we hope you'll enjoy the ride! </h4>
    <% elsif @booking.confirmed == nil %>
        <h4>Your booking is currently pending, you'll have to wait a bit..</h4>
    <% else %>
        <h4>Your booking has been denied, we're sorry that it hasn't gone through</h4>
    <% end %>
    <div class="car-infos d-flex justify-content-between align-items-center mt-5">
        <div class="card p-2" style="width: 25rem;">
            <div class="card-body">
                <h4 class="card-title">Car's info</p></h4>
                <p class="card-text"><p><%= @car.brand %></p></p>
                <p class="card-text"><p><%= @car.model %></p></p>
                <p>Owner email address: <%= @owner.email %></p>
            </div>
        </div>
        <div class="car-photos">
            <% if @car.photos.attached? %>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">     
                <div class="carousel-inner">
                <% @car.photos.each do |photo| %>
                    <div class="carousel-item active">
                        <%= cl_image_tag photo.key, class:"d-block w-100", height: 300, width: 400, crop: :fill %>
                    </div>
                <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
                </div>
            <% end %>
        </div>
    </div>
    <div class="Review button">
      <%= link_to "Review booking", new_booking_review_path(@booking, @review), class:"btn btn-primary" %>
    </div>
    <%= link_to "Back", bookings_path, class:"btn btn-outline-primary mt-3" %>
</div>
