<h1 class="text-center mt-3" style="color: #5353b9;">Your booking</h1>
<div class="container mt-5">
    <% if @booking.confirmed %>
        <h4>Your booking has been confirmed, we hope you'll enjoy the ride! </h4>
    <% else %>
        <h4>Your booking has been denied, we're sorry that it hasn't gone through</h4>
    <% end %>
    <div class="car-infos">
        <h4>Car's info</h4>
        <div class="card mt-5 d-flex justify-content-between align-items-center" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title"><p><%= @car.brand %></p></h5>
                <p class="card-text"><p><%= @car.model %></p></p>
                <p>Owner email address: <%= @owner.email %></p>
            </div>
            <div class="car-photos">
                <% if @car.photos.attached? %>
                    <% @car.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
                        <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" width="300px" height="400px">
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="Review button">
      <%= link_to "Review booking", new_booking_review_path, class:"btn btn-primary" %>
    </div>
    <%= link_to "Back", bookings_path, class:"btn btn-outline-primary mt-3" %>
</div>
