<div class="bg-white">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526550517342-e086b387edda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2901&q=80)">
    <div class="info-banner">
      <h1>Welcome to Car2Me</h1>
      <h4>We're happy to have you around</h4>
      <p><span id="typed-strings"></span></p>
      <% if !user_signed_in? %>
        <%= link_to 'Sign in' , new_user_session_path, class:'btn btn-primary', id:'btn-signup' %>
      <% end %>
    </div>
  </div>
</div>
<!-----------------------------End--Banner------------------------------------>
<div class="home-page-container">
<!---------------------------Search and Add------------------------------------->
  <div class="d-flex justify-content-between align-items-center  my-4">
    <%= link_to 'Add a car' , new_car_path, class:'btn btn-primary' %>
    <div class="search-car">
      <!-- going to root path using action / -->
      <form class="d-flex justify-content-between" method="GET" action='/'>
        <div class="pr-4">
          <input type="text" placeholder="Search car.." class="btn-search-grey form-control mr-3" style="width: 22rem" name='query'>
        </div>
        <div>
          <input type="submit" name="search" class='btn btn-outline-primary'>
        </div>
      </form>
    </div>
  </div>
<!-----------------------------------End-Search and Add------------------------------------->
<!----------------------------------Cards && Map ----------------------------------->
  <div class="main-container">
    <div class="cards-car background-card-purple-2">
      <% @cars.each do |car| %>
      <div class="card-home-page" data-aos="fade-up" style="width:14rem;">
        <% if car.photos.attached? %>
        <%= cl_image_tag car.photos.first.key, class:'card-img-top mb-2', width: 270, height: 150, crop: :fill %>
        <% else %>
        <%= image_tag "default.jpg", class:'default card-img-top mb-2'%>
        <% end %>
        <!-- <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><%= car.brand %></h5>
          <p class="card-text"><%= car.model %></p>
          <p class="card-text"><%= car.price %></p>
          <div class="btn-spacing">
            <%= link_to "Details", car_path(car), class:'btn-info-car-small' %>
            <% if current_user %>
            <!-- if true current user is logged in-->
            <% if car.user_id == current_user.id %>
            <!-- car.user == current_user -->
            <!-- if statment to make sure you only effect change on users cars- visually access to editting/delete -->
            <%= link_to "Edit", edit_car_path(car), class:'btn btn-outline-warning' %>
            <%= link_to "Delete", car_path(car), method: :delete, data: { confirm: "U-sure?" }, class:'btn btn-outline-danger' %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
<!----------------------------------------End-Cards---------------------------------------------->
    <div id="map-2" class="map"
       style="height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <!---------------------------------End-Cards && Map ----------------------------------->
<!---------------------------------UP Chevron------------------------------------------>
  <div class="top-button d-flex justify-content-center" width="100%">
    <button class="btn-chevronUp mt-5" id="btn-goUp"><i class="fas fa-chevron-circle-up"></i></button>
  </div>
<!---------------------------------End-UP Chevron ----------------------------------->
</div>
<!---------------------------------End of Container ----------------------------------->


