<div class="container text-center items-align-center">
  <h1>Car presentation</h1>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-owner bg-light"> 
        <h2>Owner info</h2>
        <p><%= @owner.name %></p>
        <p><%= @owner.email %></p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-client bg-light">
        <div>
          <% @car.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
          <% end %>
        </div>

        <div class="card-client-body">
          <h5 class="card-title"><%= @car.brand %></h5>
          <p class="card-text"><%= @car.model %></p>
          <p class="card-text"><%= @car.price %>£/day</p>
        </div>
      </div>
    </div>
  </div>

    <div class="bg-white rounded p-3" style="width: 380px">
      <h5>book your car</h5>
      <div class="d-flex justify-content-between">
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= hidden_field_tag :car_id, @car.id %>
          <%= f.submit 'book', class:'btn btn-primary' %>
        <% end %>
        <%= link_to 'back' , root_path, class:'btn btn-outline-primary' %>
      </div>
    </div>

</div>
